* {
  cursor: url(http://cur.cursors-4u.net/others/oth-1/oth28.cur), auto !important;
}


@font-face {
  font-family: StarJedi;
  src: url("../tipografia/SFDistantGalaxyAltOutline.ttf");
}

* {
  font-family: StarJedi;
  color: #ffe81f;
}

.navbar {
  background-color: rgb(46, 55, 90);
}
.logo {
  color: #ffe81f;
}
.nav-item {
  color: #ffe81f;
}
.inReg {
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.btnReg {
  margin: 0 auto;
  width: 150px;
}

body {
  background-image: url("../images/darth-vader.jpg");
  background-repeat: no-repeat;
  background-color: rgb(46, 55, 90);
  height: 100vh;
  
}
@media (min-width: 800px) {
	body {
		background-image: url("../images/darth-vader.jpg");
		background-repeat: no-repeat;
    background-attachment: fixed!important;
		height: 100vh;
		
	  }
	  #welcomeArticle p {
		display: none;
	  }
}
@media screen and (max-width: 600px){

	body {
		background-image: url("../images/darth-vader.jpg");
		background-repeat: no-repeat;
    background-attachment: fixed!important;
		height: 100vh;
		
	  }
	  #welcomeArticle p {
		display: none;
	  }
}


label {
  color: #ffe81f;
}
.texto {
  margin: 0 auto;
}
.pregunta {
  padding-top: 10em;
  text-align: center;
}

.btnInd {
  margin: 0 auto;
  width: 150px;
  padding-top: 4em;
}

.btn-primary {
  color: black;
  height: 150px;
  width: 260px;
}

.card-body {
  background-color: white;
  width: 260px;
  height: 180px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  display: block;
  margin: auto;
}

.preguntasSec {
  margin: 0 auto;
  padding-top: 3em;
  height: 100%;
}
.pregCol {
  padding-top: 1em;
  justify-content: center;
}
.main-forms {
  margin-top: 75px;
  padding: 30px;
}

.formAcc {
  margin: 0 auto;
  width: 400px;
}

.colReg {
  width: 300px;
  margin: 0 auto;
}

.text-center {
  margin: 0 auto;
}
.films-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.starwars-list {
  padding-top: 3em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.info.container {
  display: flex;
  justify-content: center;
}

.btnTesti {
display: block;
margin: auto;
  color: #ffe81f;
  background-color: rgb(46, 55, 90);
}
.rowTest {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 5em;
}
.conTest {
  width: 100%;
  height: 100%;
 
}

.characContainer {
  height: 400px;
  padding-top: 5em;
}
#welcomeArticle {
  font-size: 15px;
}
#welcomeArticle p {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  right: 10px;
  top: 30%;
  
}
.charcCont {
  padding-top: 3em;
  height: 300px;
}
.borderChar {
  border: solid #ffe81f;
  width: 350px;
  height: 300px;
  margin: 20px;
}

.neon {
  color: #ffe81f;

  text-shadow: 0 0 5px rgba(0, 178, 255, 1), 0 0 10px rgba(0, 178, 255, 1),
    0 0 20px rgba(0, 178, 255, 1), 0 0 40px rgba(38, 104, 127, 1),
    0 0 80px rgba(38, 104, 127, 1), 0 0 90px rgba(38, 104, 127, 1),
    0 0 100px rgba(38, 104, 127, 1), 0 0 140px rgba(38, 104, 127, 1),
    0 0 180px rgba(38, 104, 127, 1);
}

.app {
  display: block;
  margin: auto;
  padding-top: 2em;
  height: 450px;
}
#explicacion {
  font-family: Arial, Helvetica, sans-serif;
}
.Quest {
  padding-top: 2em;
}
.error {
  font-family: Arial, Helvetica, sans-serif;
  color: tomato;
  text-align: center;
}
.randomChar p{
font-family: Arial, Helvetica, sans-serif;
}
.Quest{
	color: #ffe81f;
	font-family: Arial, Helvetica, sans-serif;	
}
.containerPlus{
display: block;
margin: auto;
text-align: center;
}
.respColor{
background-color: rgb(46, 55, 90);
color: #ffe81f;
font-family: Arial, Helvetica, sans-serif;
}
.c3po{
width: 40px;
height: 40px;


}
