
@font-face{
    font-family: StarJedi;
    src: url("../tipografia/SFDistantGalaxyAltOutline.ttf");
}
*{
font-family: StarJedi;
color: #FFE81F;
}
.navbar{
    background-color: rgb(46, 55, 90);
}

@media screen and (max-width: 600px) {
.carousel-caption{
      font-size: 30px;

}
}
.logo{
    width: 100px;
}
.nav-item{
color: #FFE81F;  

}

.form-group{
text-align: center;
padding-top: 2em;
}
input{
margin: 0 auto;
max-width: 300px;
}

.btnReg{
margin: 0 auto;
width: 150px;


}
.btn-warning{
    width: 100%;
    
}
body{
background-image: url("../images/darth-vader.jpg");
height: 400px;
width: 100%;
}
label{
color: #FFE81F;
}
.texto{
margin: 0 auto;
}
.pregunta{
padding-top: 10em;
text-align: center;
}

.btnInd{
    margin: 0 auto;
    width: 150px;
    padding-top: 4em;
    
}
.respuestas{
color: black;
padding-top: 1em;



}
.btn-primary{

color: black;
height: 150px;
width: 300px;
}


.card-body{
background-color: white;
width: 300px;
height: 200px;
}

.preguntasSec{
padding-top: 3em;

}
.pregCol{

justify-content: center;
}


